asgiref==3.2.3
beautifulsoup4==4.8.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
Django==3.0.2
django-crispy-forms==1.9.1
gunicorn==20.0.4
idna==2.9
kiwisolver==1.2.0
lxml==4.6.3
matplotlib==3.2.1
numpy==1.18.4
Pillow==7.1.2
pygame==1.9.6
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.3
sqlparse==0.3.0
urllib3==1.25.8
virtualenv==16.7.9
